:root {
  -dark-grey: hsl(0, 0%, 17%);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  font-weight: 400;
  font-size: 1.1rem;
}

body {
  color: var(--dark-grey);
}

h1,
h2,
h3,
h4,
h5 {
  color: #fff;
  font-weight: 500;
}

h1 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 93.75%;
  letter-spacing: -0.286px;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

#map {
  height: calc(100vh - 300px);
  z-index: 10;
}
